
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');


.bgg{
    background-image: url(assets/su.avif);
    background-position: center;
    background-size: cover;
}

.text-div{
   background-image: url(images/in.jpeg);
    background-position: center;
    background-size: cover;
}

.from-bg{
  background-image: url(images/ho.jpg);
    background-position: center;
    background-size: cover;
}


.bggallary{
    background-image: url(images/bgg.jpg);
    background-position: center;
    background-size: cover;
}



ul{
    font-family: sans-serif;
}
h1{
   font-family: sans-serif;
  
}

h3{
    font-family: "Bebas Neue", sans-serif;  
}

.md-text-h1{
   font-family:  Tahoma, sans-serif;
}
h2{
    font-family:  Tahoma, sans-serif;
   
}

.text-text{
    font-family: sans-serif;
}


.logo-animet{
animation: color 5s linear infinite;
transform: perspective(1000px);
color: #080908;

}


@keyframes color{
20%{
  color:blue;
}
80%{
  
  color:black;
}

  
}



