

@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');



.bgg{
    background-image: url(images/navberhom.jpg);
    background-position: center;
    background-size: cover;
}

ul{
    font-family: sans-serif;
}
h1{
    font-family:  "Francois One", sans-serif; ;
}