
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

html {
  scroll-behavior: smooth;
}




.bgg{
    /* background-image: url('https://images.unsplash.com/photos/white-wooden-door-on-white-wall-x2aHsaLJZkc'); */
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
}
.bggg{
    background-image: url(images/flexbox.jpg);
    background-position: center;
    background-size: cover;
}

.new{
   background-position: center;
    background-size: cover;
}
.new-2{
   background-position: center;
    background-size: cover;
}

.text-div{
   background-image: url(assets/in.jpeg);
    background-position: center;
    background-size: cover;
}

.from-bg{
  background-image: url(assets/ho.jpg);
    background-position: center;
    background-size: cover;
}


.bggallary{
    background-image: url(images/bgg.jpg);
    background-position: center;
    background-size: cover;
}

.busy-1 {
  background-image: url('/images/re.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.busy-2 {
  background-image: url('/images/bu2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.busy-3 {
  background-image: url('/images/bu7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.busy-4 {
  background-image: url('/images/bu4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.busy-5 {
  background-image: url('/images/bu8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.busy-6 {
  background-image: url('/images/bu6.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}





ul{
    font-family: sans-serif;
}

h3{
 
   font-family: "Michroma", sans-serif;
}

/* .logo-animet{
    font-family: "Bebas Neue", sans-serif;  
} */

.md-text-h1{
  font-family: "Michroma", sans-serif; 
}

.book{
  font-family: sans-serif;
} 



.logo-animet{
animation: color 5s linear infinite;
transform: perspective(1000px);
color: #080908;

}


@keyframes color{
20%{
  color:blue;
}
80%{
  
  color:black;
}

  
}


.gb{
background-image: linear-gradient(rgb(27, 20, 100,0.5),#fff);
}
